{%extends "base.html" %}

{%block content%}
        <div class="info">
            {% if session['loginInfo'] == "manager"  or session['loginInfo'] == "stocker"%}
                {% if error == " " %}
                    <h1>Here are the following currently in the system:</h1>

                    <h2>{{error}}</h2>

                    <table class = "table table-striped">

                    {% for message in get_flashed_messages() %}
                
                       <tr>
                            {% for i in message %}
                                {%if loop.first %}
                                    <th>{{i}}</th>
                                {%else %}
                                    <td>{{i}}</td>
                                {% endif %}
                            {% endfor %}
                        </tr>

                    {% endfor %}
                    </table>



                    {% if modes != none  %}
                        <div class="dropdown">
                            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Change Mode
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                {% for i in modes %}
                                    <a class="dropdown-item" href= {{ "/" ~ filepath ~ "/" ~ i}} + >{{i}}</a>
                                {% endfor %}
                            </div>
                        </div>
                    {% else %}
                    {% endif %}
                


                    {%if session['loginInfo'] == "manager" %}
                    <a href="/managerMain" class="btn btn-lg btn-dark" act>Return to Manager Page</a>
                    {% else %}
                    <a href="/stockerMain" class="btn btn-lg btn-dark" act>Return to Stocker Page</a>
                    {% endif %}

                {% else %}
                    <h1>Sorry, but we couldn't find that.</h1>
                    {%if session['loginInfo'] == "manager" %}
                        <a href="/managerMain" class="btn btn-lg btn-dark" act>Return to Manager Page</a>
                    {% else %}
                        <a href="/stockerMain" class="btn btn-lg btn-dark" act>Return to Stocker Page</a>
                    {% endif %}
                {% endif %}
            {% endif %}
        </div>


{%endblock%}