{%extends "base.html" %}

{%block content %}
        {% if session['loginInfo'] == "manager" %}
            <u><h1>Please enter the information for an Order.</h1></u>
            <div style="padding-left: 25%; padding-right:25%">
                <form method="post" action="{{ url_for('addOrderPost') }}">
                    <div class="form-group-row">
                        <label for="hrTransacted">hour Transacted</label>
                        <input type="itemName" class="form-control" name="hrTransacted">

                    </div>
                    <div class="form-group-row">
                        <label for="dayTransacted">day Transacted</label>
                        <input type="itemID" class="form-control" name="dayTransacted" >

                    </div>
                    <div class="form-group-row">
                        <label for="monthTransacted">month Transacted</label>
                        <input type="itemID" class="form-control" name="monthTransacted" >
                    </div>
                    {% for i in range(1,numItems+1) %}
                    <div class="form-group-row">
                        <label for="itemID">item ID</label>
                        <input type="itemID" class="form-control" name="{{'itemID-' ~ i}}" >
                    </div>
                    <div class="form-group-row mb-2">
                        <label for="orderAmount">Order Amount</label>
                        <input type="itemID" class="form-control" name="{{'orderAmount-' ~ i}}" >
                    </div>
                    {% endfor %}

                    </div>


                    <button type="submit" name="numItems" value={{numItems}} class="btn btn-primary">Submit</button>
                </form>
            </div>

            <br>
            
            <form method = "post" action="{{ url_for('enlargeAddOrder')}}">
                <button type="submit", value={{numItems + 1}} class="btn btn-secondary " name="addItem">Add Item</button>
            </form>


        {% else %}
        <h1>Access Denied</h1>

        <p>Please return to your page.</p>
        {% if session['loginInfo'] == "stocker" %}
            <a href="/stockerMain" class="btn btn-lg btn-dark" act>Return to Stocker Page</a>
        {% else %}
            <a href="/" class="btn btn-lg btn-dark" act>Return to Main</a>
        {% endif %}
        {% endif %}

{% endblock %}