{%extends "base.html" %}
{%block content %}

        <h2>Note: Currently, there are bugs making this functionality not possible.</h2>
        <h3>Instead, run the script in the folder where the python file is in order to start.</h3>


        <p>This section is to initalize the databse if you havent setup or if you wish to clear data.</p>
        <p>You can also access the .sql script and run it in mysql.  you shouldnt need to modify the project name</p>
        <p>In fact, do NOT change the name unless you change the python database reference it wants.  Otherwise, an error will occur.</p>

        <p>Click the link to initialize the database:</p>

        <a href="/">return to main</a>
{%endblock%}