{%extends "base.html" %}

{%block content %}
    <div >
        {% if session['loginInfo'] == "manager" or session['loginInfo'] == "stocker" %}
            <u><h1>Please enter either the Employee's name or ID </h1></u>
            <div style="padding-left: 25%; padding-right:25%">
                <form method="post" action="{{ url_for('findEmployeePost') }}">
                    <div class="form-group-row">
                        <label for="itemName">Employee Name</label>
                        <input type="itemName" class="form-control" name="eName">

                    </div>
                    <div class="form-group-row mb-4">
                        <label for="itemID">Item ID</label>
                        <input type="itemID" class="form-control" name="eID" >

                    </div>

                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        {% else %}
            <h1>Access Denied</h1>
            <p>Please return to the main page </p>
            <a href="/" class="btn btn-lg btn-dark" act>Return to Main</a>
        {% endif %}

{% endblock %}