{%extends "base.html" %}

{%block content %}
    <div >
        {% if session['loginInfo'] == "manager" or session['loginInfo'] == "stocker" %}
            <u><h1>Please enter either either the item's name or the item ID </h1></u>
            <form method="post" action="{{ url_for('findItemPost') }}">
                <div class="form-group-row">
                    <label for="itemName">Item Name</label>
                    <input type="itemName" class="form-control" name="iName">

                </div>
                <div class="form-group-row">
                    <label for="itemID">Item ID</label>
                    <input type="itemID" class="form-control" name="iID" >

                </div>

                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        {% else %}
            <h1>Access Denied</h1>
            <p>Please return to the main page </p>
            <a href="/" class="btn btn-lg btn-dark" act>Return to Main</a>
        {% endif %}

{% endblock %}