{%extends "base.html" %}

{%block content%}
        <div class="info">
            {% if session['loginInfo'] == "manager"  or session['loginInfo'] == "stocker" %}
                <h1>Here are the following currently in the system:</h1>

                <h2>{{error}}</h2>

                <table class = "table table-striped">

                    {% for message in get_flashed_messages() %}
                    
                    <tr>
                        {% for i in message %}
                            {%if loop.first %}
                                <th>{{i}}</th>
                            {% else %}
                                <td>{{i}}</td>
                            {% endif %}
                        {% endfor %}
                    </tr>
                    {% endfor %}
                </table>

                {%if session['loginInfo'] == "manager" %}
                <a href="/managerMain" class="btn btn-lg btn-dark" act>Return to Manager Page</a>
                {% else %}
                <a href="/stockerMain" class="btn btn-lg btn-dark" act>Return to Manager Page</a>
                {% endif %}

            {% else %}
            <h1>Access Denied</h1>

            <p>Please return to the main page.</p>

            <a href="/" class="btn btn-lg btn-dark" act>Return to Main</a>
        {% endif %}
        </div>


{%endblock%}