{%extends "base.html" %}
{%block content %}
        
    <u><h2>Insert Login Information</h2></u>

    <h5>{{error}}</h5>
    <form method="post" action="{{ url_for('loginPost') }}">
        <div class="form-group-row-2">
            <label class="form-label" id="#user" for="user">First Name</label>
            <input type="username" class="form-control"  placeholder="Insert First Name" name="usName">

        </div>
        <div class="form-group-row mb-4">
            <label for="password">Employee ID</label>
            <input type="password" class="form-control" name="usPass" placeholder="Insert Employee ID">

        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
    </form>

{%endblock%}