{%extends "base.html" %}

{%block content %}




        
        {% if session['loginInfo'] == "manager" %}
        <div class="text-center">
            <h1>Welcome back, manager!</h1>

                <h2>Below you should find some systems to use.</h2>
            <div class="container">
                <a href="/findItems", class="btn btn-primary btn-lg">Find Items</a>

                <a href="/showItems", class="btn btn-primary btn-lg">Show all Items</a>

                <a href="/showHazardousItems", class="btn btn-primary btn-lg">Items with Hazards</a>

                <a href="/totalSales/month", class="btn btn-primary btn-lg">Total Sales</a>

                <a href="/employeeList" class="btn btn-primary btn-lg">Employee List</a>
                
                <a href="/myEmployees" class="btn btn-primary btn-lg">My Employees</a>

                <a href="/findEmployees" class="btn btn-primary btn-lg">Search for Employee</a>

                <br>
                <br>

                <a href="/showOrders/ORDERID", class="btn btn-primary btn-lg">Show Orders</a>

                <a href="/showReceipts/RECEIPTID", class="btn btn-primary btn-lg">Show Receipts</a>

                <a href="/netInventory/ITEM" class="btn btn-primary btn-lg">Net Inventory Info</a>

                <a href="/managerItemsOrdered/TOTALITEMORDERS" class = "btn btn-primary btn-lg">Manager Orders</a>

                <a href="/addOrder" class = "btn btn-primary btn-lg">Add Order</a>

                <a href="/addEmployee" class = "btn btn-primary btn-lg">Add Employee</a>

                <a href="/removeEmployee" class = "btn btn-primary btn-lg">Remove Employee</a>

                <br>
                <br>

                <a href="/addReceipt" class = "btn btn-primary btn-lg">Add Receipt</a>

                <a href="/findOrder" class="btn btn-primary btn-lg">Find Order Info</a>

                <a href="/findReceipt" class= "btn btn-primary btn-lg">Find Receipt Info</a>


                <a href="/logout" class="btn btn-lg btn-dark" act>logout</a>
            </div>
        </div>

        {% else %}
            <h1>Access Denied</h1>

            <p>Please return to the main page.</p>

            <a href="/" class="btn btn-lg btn-dark" act>Return to Main</a>
        {% endif %}

{%endblock %}