{%extends "base.html" %}

{%block content %}




        
        {% if session['loginInfo'] == "manager" %}
            <h1  class="mb-3">Welcome back, manager!</h1>

                <h2 class="mb-5">Below you should find some systems to use.</h2>

                <div class="d-flex flex-row">
                    <div class="dropdown mx-1">
                        <a class="btn btn-lg btn-secondary dropdown-toggle" type="button"  id="itemDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Items
                        </a>
                        <div class="dropdown-menu" aria-labelledby="itemDropDown">

                            <a href="/findItems", class="dropdown-item">Find Items</a>
        
                            <a href="/showItems", class="dropdown-item">Show all Items</a>
        
                            <a href="/showHazardousItems", class="dropdown-item">Items with Hazards</a>

                            <div class="dropdown-divider"></div>

                            <a href="/addItem", class="dropdown-item">Add Item</a>

                            <a href="/alterItem" class="dropdown-item">Alter Item</a>
                        </div>
                    </div> 

                    <div class="dropdown mx-1">
                        <a class="btn btn-lg btn-secondary dropdown-toggle" type="button"  id="employeeDropDown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Employees
                        </a>

                        <div class="dropdown-menu" aria-labelledby="employeeDropDown">

                            <a href="/employeeList" class="dropdown-item">Employee List</a>
                    
                            <a href="/myEmployees" class="dropdown-item">My Employees</a>
            
                            <a href="/findEmployees" class="dropdown-item">Search for Employee</a>

                            <div class="dropdown-divider"></div>

                            <a href="/addEmployee" class = "dropdown-item">Add Employee</a>

                            <a href="/alterEmployee" class ="dropdown-item">Alter Employee</a>

                            <a href="/removeEmployee" class = "dropdown-item">Remove Employee</a>

                        </div>
                    </div>

                    <div class="dropdown mx-1">
                        <a class="btn btn-lg btn-secondary dropdown-toggle" type="button"  id="ordersDropDown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Orders
                        </a>

                        <div class="dropdown-menu" aria-labelledby="ordersDropDown">
                            
                            <a href="/showOrders/ORDERID", class="dropdown-item">Show Orders</a>

                            <a href="/managerItemsOrdered/TOTALITEMORDERS" class = "dropdown-item">Manager Orders</a>

                            <a href="/findOrder" class="dropdown-item">Find Order Info</a>

                            <div class="dropdown-divider"></div>

                            <a href="/addOrder" class = "dropdown-item">Add Order</a>
                        
                        </div>
                    </div>

                    <div class="dropdown mx-1">
                        <a class="btn btn-lg btn-secondary dropdown-toggle" type="button"  id="receiptsDropDown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Receipts
                        </a>

                        <div class="dropdown-menu" aria-labelledby="receiptsDropDown">
                            
                            <a href="/showReceipts/RECEIPTID", class="dropdown-item">Show Receipts</a>

                            <a href="/findReceipt" class= "dropdown-item">Find Receipt Info</a>

                            <div class="dropdown-divider"></div>

                            <a href="/addReceipt" class = "dropdown-item">Add Receipt</a>


                        </div>
                    </div>

                    <div class="dropdown mx-1">
                        <a class="btn btn-lg btn-secondary dropdown-toggle" type="button"  id="otherDropDown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Other
                        </a>

                        <div class="dropdown-menu" aria-labelledby="otherDropDown">
                            
                            <a href="/totalSales/month", class="dropdown-item">Total Sales</a>

                            <a href="/netInventory/ITEM" class="dropdown-item">Net Inventory Info</a>
            
                            <a href="/managerItemsOrdered/TOTALITEMORDERS" class = "dropdown-item">Manager Orders</a>

                        </div>

                    </div>

                    <a href="/logout" class="btn btn-lg  mx-1 btn-danger" act>Logout</a>
                </div>

        {% else %}
            <h1>Access Denied</h1>

            <p>Please return to the main page.</p>

            <a href="/" class="btn btn-lg btn-dark" act>Return to Main</a>
        {% endif %}

{%endblock %}