{%extends "base.html" %}

{%block content %}

        <div class="info">
        {% if session['loginInfo'] == "manager" %}
            <h1>Welcome back, manager!</h1>


            <h2>Below you should find some systems to use.</h2>

            <a href="/findItems", class="btn btn-primary btn-lg">Find Items</a>

            <a href="/showItems", class="btn btn-primary btn-lg">Show all Items</a>

            <a href="/totalSales/month", class="btn btn-primary btn-lg">Total Sales</a>

            <a href="/employeeList" class="btn btn-primary btn-lg">Employee List</a>
            
            <a href="/myEmployees" class="btn btn-primary btn-lg">My Employees</a>

            <a href="/findEmployees" class="btn btn-primary btn-lg">Search for Employee</a>

            <a href="/logout" class="btn btn-lg btn-dark" act>logout</a>


        {% else %}
            <h1>Access Denied</h1>

            <p>Please return to the main page.</p>

            <a href="/" class="btn btn-lg btn-dark" act>Return to Main</a>
        {% endif %}
        </div>

{%endblock %}