{%extends "base.html" %}

{%block content %}
    <div >
        {% if session['loginInfo'] == "stocker" %}
        <h1  class="mb-3">Welcome back, Stocker!</h1>

        <h2 class="mb-5">Below you should find some systems to use.</h2>

        <div class="d-flex flex-row justify-content-center">
            <div class="dropdown mx-1">
                <a class="btn btn-lg btn-secondary dropdown-toggle" type="button"  id="itemDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Items
                </a>
                <div class="dropdown-menu" aria-labelledby="itemDropDown">

                    <a href="/findItems", class="dropdown-item">Find Items</a>

                    <a href="/findMyItems" class="dropdown-item">My Items</a>

                    <a href="/showItems", class="dropdown-item">Show all Items</a>

                    <a href="/showHazardousItems", class="dropdown-item">Items with Hazards</a>
                </div>
            </div> 

            <div class="dropdown mx-1">
                <a class="btn btn-lg btn-secondary dropdown-toggle" type="button"  id="employeeDropDown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Employees
                </a>

                <div class="dropdown-menu" aria-labelledby="employeeDropDown">

                    <a href="/employeeList" class="dropdown-item">Employee List</a>

                    <a href="/findMyInformation" class = "dropdown-item">My employee Information</a>

                    <a href="/myManager" class="dropdown-item">My Manager</a>
            
                    <a href="/findEmployees" class="dropdown-item">Search for Employee</a>

                </div>
            </div>

            <div class="dropdown mx-1">
                <a class="btn btn-lg btn-secondary dropdown-toggle" type="button"  id="receiptsDropDown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Receipts
                </a>

                <div class="dropdown-menu" aria-labelledby="receiptsDropDown">
                    
                    <a href="/showReceipts/RECEIPTID", class="dropdown-item">Show Receipts</a>

                    <a href="/findReceipt" class= "dropdown-item">Find Receipt Info</a>



                </div>
            </div>

            <a href="/logout" class="btn btn-lg  mx-1 btn-danger" act>Logout</a>


        </div>

        {% else %}
        <h1>Access Denied</h1>

        <p>Please return to your page.</p>
        {% if session['loginInfo'] == "stocker" %}
            <a href="/stockerMain" class="btn btn-lg btn-dark" act>Return to Stocker Page</a>
        {% else %}
            <a href="/" class="btn btn-lg btn-dark" act>Return to Main</a>
        {% endif %}
        {% endif %}


{% endblock %}