{%extends "base.html" %}

{%block content %}
    <div >
        {% if session['loginInfo'] == "stocker" %}
        <div class="text-center">
            <h1>Welcome back, Stocker!</h1>

                <h2>Below you should find some systems to use.</h2>
            <div class="container">
                <a href="/findItems", class="btn btn-primary btn-lg">Find Items</a>

                <a href="/showItems", class="btn btn-primary btn-lg">Show all Items</a>

                <a href="/showHazardousItems", class="btn btn-primary btn-lg">Items with Hazards</a>

                <a href="/employeeList" class="btn btn-primary btn-lg">Employee List</a>

                <a href="/findMyItems" class="btn btn-primary btn-lg">My Items</a>

                <a href="/findMyInformation" class = "btn btn-primary btn-lg">My employee Information</a>

                <a href="/findEmployees" class="btn btn-primary btn-lg">Search for Employee</a>

                <a href="/myManager" class="btn btn-primary btn-lg">My Manager</a>

                <br>
                <br>

                <a href="/showReceipts/RECEIPTID", class="btn btn-primary btn-lg">Show Receipts</a>

                <a href="/logout" class="btn btn-lg btn-dark" act>logout</a>
            </div>
        </div>

        {% else %}
            <h1>Access Denied</h1>

            <p>Please return to the main page.</p>

            <a href="/" class="btn btn-lg btn-dark" act>Return to Main</a>
        {% endif %}


{% endblock %}